@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}


body {
    background-color: #f0f0f0;
    color: #798252;
    font-family: 'Story Script', cursive;
    font-weight: 400;
    font-style: normal;
}

header {
    padding : 2rem;
    background-color: #dfadd6;
    text-align: center;

    }

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;


}

section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h2{
    color: #000000;
    font-size: 1.2rem;
}

input[type="radio"], input[type="checkbox"] {
    accent-color: #dfadd6;
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"]{
    width: 100%;
    padding: 0.6rem;
    border: 2px solid #dfadd6;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
}

input::placeholder {
    color: #bbb;
    font-style: italic;
}

select {
    cursor: pointer;
    background-color: #dfadd6;
    color: #000000;
    border-radius: 5px;
    border: none;
    outline: none;

}

img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #dfadd6;
    color: blueviolet;
    padding: 10px;

}

td {
    border: 1px solid #ddd;
    padding: 7px;
    text-align: center;
    background-color: #bbb;
    color: blueviolet;
}

tfoot td {
    font-weight: bold;
    background-color: blueviolet;
    color: #000000;
    padding: 10px;
}

details {
    background-color: #dfadd6;
    padding: 1rem;
    border-radius: 5px;
}

summary {
    color: blueviolet;
    cursor: pointer;
    margin: 0.5rem 0;
}

ol {
    margin-left: 1.5rem;
    
}

ol li {
    padding: 0.2rem; 
}

fieldset {
    border: 2px solid #dfadd5;
    border-radius: 5px;
    padding: 2rem;
    background-color: transparent;
}

legend {
    font-weight: bold;
    color: blueviolet;
    padding: 0 0.5rem;
}

textarea {
    width: 100%;
    padding: 0.6rem;
    border: 2px solid #dfadd5;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    resize: vertical;
}

button {
    background-color: blueviolet;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

footer {
    background-color: #dfadd6;
    text-align: center;
    padding: 1rem;
    color: blueviolet;
}

footer a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

